[report]
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.DEBUG:
    if settings.DEBUG and*:
    if settings.DEBUG or*:

omit =
    nopassword/migrations/*
