language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

env:
  - DJANGO_VERSION=1.4
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6

install:
  - pip install psycopg2
  - pip install django==$DJANGO_VERSION
  - pip install coverage coveralls

script:
script:
  - coverage run --source=django_nopassword setup.py test
  - coverage report


before_script:
  - psql -c 'create database django_nopassword;' -U postgres

after_success: coveralls
